    
    
    h3 {
      text-align: center;
      text-transform: capitalize;
      color: #327c34;
      font-style: italic;
    }
    h1 {
        font-style: italic;

    }

    
    
    
    

   